<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Contact Form</h1>
  </ion-header-bar>

  <ion-content>
    <div class="form">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="First Name" ng-model="home.currentContact.first_name" />
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Last Name" ng-model="home.currentContact.last_name" />
        </label>
        <label class="item item-input">
          <input type="tel" placeholder="Phone" ng-model="home.currentContact.phone" />
        </label>
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="home.currentContact.email" />
        </label>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar align-title="center" class="bar-light">
    <div class="tabs tabs-icon-top">
      <a class="tab-item balanced" ng-click="home.SaveContact()"><i class="icon ion-ios-checkmark"></i>Save</a> 
      <a class="tab-item"></a> 
      <a class="tab-item assertive" ng-click="home.CloseFormModal()"><i class="icon ion-ios-close"></i>Close</a>
    </div>
  </ion-footer-bar>
</ion-modal-view>